//colors
$black: #2f2f2f; 
$grey: #f7f7f7;
$green: #98bc5c;

//resolutions
$phones: 480px;
$phones320: 320px;


//media
@import "_misc/media";

//setups
@import "_misc/normalize";
@import "_misc/layout";

//blocks
@import "blocks/header";
@import "blocks/hello-sophie";
@import "blocks/catalog";
@import "blocks/trifle";
@import "blocks/footer";
