.header{
  background: $green;
  background-image: url('../images/icons.png');
  display: flex;
  position: relative;
}


.header__col-logo{
  width: 125px;
  height: 38px;
}

.logo{
  max-width: 100%;
  display: block;
}


.header-cols{
  display: flex;
  padding: 28px 0 0 0;
  align-items: center;
  margin-bottom: 30px;
}

.header__col{
  display: flex;
  flex: 1;
  &_left{
    justify-content: flex-end;
  }
}

.breadcrumbs{
  display: flex;
  font-size: 10px;
}

.breadcrumbs__link{
  color: #fff;
}

.breadcrumbs__item:after{
  content: "/";
  padding: 0 7px;
  color: #fff;
}
.breadcrumbs__item:last-child:after{
  display: none;
}
.header__title{
  color: #fff;
  padding-bottom: 48px;
  padding-left: 64px;
}

.title{
  font-size: 26px;
  
}
.title__desc{
  font-size: 20px;
  font-weight: normal;
}

.white-block{
  height: 27px;
  background-color: #fff;
}