.trifle__cat{
  display: flex;
  justify-content: center;
}
.trifle__desc{
  margin-bottom: 37px;
  margin-top: 5px;
  
  @include phonesY{
    text-align: center;
  }
}
.trifle__desc-site__link{
  color: $black;
}
.trifle__cat-img{
  width: 217px;
  height: 92px;
}

.cat__img{
  display: block;
  max-width: 100%;
}

.client-happy{
  padding: 45px 0;
}