html,
body{
  height: 100%;
  width: 100%;
  
}

body{
  font-size: 12px;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background-color: grey;
  font-family: 'Lato', sans-serif;
  color: $black;
}

.container{
  margin: 0 auto;
  position: relative;
  max-width: 602px;
  width: 95%;
  display: flex;
  flex-direction: column;
  
  &_white{
    background-color: #fff;
  }
}

.wrapper{
  position: relative;
  width: 100%;
  overflow: hidden;
  
}

h1,
h2,
h3,
h4,
h5,
h6{
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
}

table{
  border-collapse: collapse;
  border-spacing: 0;
}

ul{
  padding: 0;
  margin: 0;
  
}

li{
  list-style: none;
}

footer{
  position: relative;
  width: 100%;
}

*{
  box-sizing: border-box;
}