html,
body{
  height: 100%;
 
}


body{
  font-size: 12px;
  font-weight: bold;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background-color:$grey;
  font-family: 'Lato', sans-serif;
  color: $black;
}

.container{
  margin: 0 auto;
  position: relative;
  max-width: 602px;
  width: 95%;
  display: flex;
  flex-direction: column;
  
  &_white{
    background-color: #fff;
  }
}

.wrapper{
  position: relative;
  width: 100%;
  overflow: hidden;
  min-height: 100%;
  &:after{
    content: "";
    display: block;
    height: 90px;
  }
}
.maincontent{
  background-color: #fff;
  position: relative;
  max-width: 480px;
  margin: 0 auto;
}


.button{
  display: flex;
  justify-content: center;
  padding-top: 22px;
  padding-bottom: 22px;


  
  
  .btn__link{
    display: inline-block;
    width: 219px;
    height: 52px;
    transition: .3s;

    &:hover{
      transform: translateX(10px);
    }
    
    .btn__pic{
      max-width: 100%;
      display: block;
    }
  }
}

a:hover{
  text-decoration: none;
}


h1,
h2,
h3,
h4,
h5,
h6{
  margin: 0;
  font-weight: normal;
}

table{
  border-collapse: collapse;
  border-spacing: 0;
}

ul{
  padding: 0;
  margin: 0;
  list-style: none;
}



footer{
  position: relative;
  width: 100%;
}

*{
  box-sizing: border-box;
}

p{
  margin: 0;
  padding: 0;
}

// img:not([width]):not([height]) {
//   border: 2px solid red !important;
// }

